name: graphql

include:
  - ./server/compose.yml

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    networks:
      - graphql-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local
    name: postgres-data

networks:
  graphql-network:
    driver: bridge
    name: graphql-network
