# === DATABASE CREDENTIALS ===
POSTGRES_DB=dummy
POSTGRES_USER=dummy
POSTGRES_PASSWORD=dummy1234

POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# === CONNECTION STRINGS ===
POSTGRES_URL="postgres://user:password@host:port/dummy"
