# === SERVER CONFIGURATION ===
PORT="3000"

# === DATABASE CREDENTIALS ===
POSTGRES_PORT="5432"
POSGRES_HOST="postgres"
POSTGRES_DB="dummy"
POSTGRES_USER="dummy"
POSTGRES_PASSWORD="dummy1234"

# === CONNECTION STRINGS ===
POSTGRES_URL="postgresql://dummy:dummy@postgres:5432/dummy"
