name: stocky

services:
  stocky:
    env_file: ".env"
    build:
      context: .
      target: development
      dockerfile: dockerfile
    extends:
      service: stocky
      file: ./docker/stocky.yml
    container_name: stocky-dev
  
  postgres:
    env_file: ".env"
    extends:
      service: postgres
      file: ./docker/postgres.yml
    container_name: postgres-dev

  migrations:
    env_file: ".env"
    build:
      context: .
      target: development
      dockerfile: dockerfile
    extends:
      service: migrations
      file: ./docker/migrations.yml
    container_name: migrations-dev

volumes:
  stocky-data:
    driver: local
    name: stocky-data

networks:
  stocky-network:
    driver: bridge
    name: stocky-network
